@import url(https://fonts.googleapis.com/css2?family=Reenie+Beanie);
@import url(https://fonts.googleapis.com/css2?family=Tagesschrift);

body {
  background-color: white;
  color: black;
  width: 100%;
  margin: 0;
}

header {
  background-color: blue;
}

.content {
  width: 95%;
  margin: 0 auto;
}

h1 {
  font-size: 72px;
  font-family: 'Reenie Beanie';
}

#pagetitle {
  background-image: url("bearsmth.png");
  background-size: cover;
  opacity: 0.2;
}

h2 {
  font-size: 48px;
}

#backstory {
  line-height: 2;
  text-align: justify;
}

#lookatme {
  font-family: 'Tagesschrift', cursive;
  font-size: 40px;
  padding: 20px;
  background-color: orange;
  border: 20px solid coral;
  border-radius: 10px 0 50px 0;
  text-align: center;
}

#lookatme:hover {
  background-color: coral;
  border: 20px solid orange;
}

a {
  text-decoration: none;
}