@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie');
@import url('https://fonts.googleapis.com/css2?family=Tagesschrift');
@import url('https://fonts.googleapis.com/css2?family=Arimo');

* {
  box-sizing: border-box;
  font-family: 'Arimo';
}

body {
  background-color: white;
  color: black;
  width: 100%;
  margin: 0;
}

h1 {
  font-size: 48px;
}

a {
  text-decoration: none;
}

header {
  background-color: rgb(60, 80, 225);
  margin: 0;
}

header > nav {
  margin: 0;
  font-size: 24px;
  padding: 5px 0;
}

header > nav > div > a {
  margin: 10px 20px;
  color: white;
}

header > nav > div > a > span {
  margin-left: 10px;
}

.left-header-nav {
  text-align: left;
  width: 100%;
  display: inline-flex;
  overflow-x: hidden;
  /* float: left; */
}

.content {
  width: 100%;
  margin: 0 auto;
}

.index-banner {
  width: 100%;
  padding: 90px 10px;
  text-align: center;
  background-color: thistle;
  height: fit-content;
}

.banner-text {
  max-width: 400px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-left: 3%;
}

.banner-title {
  margin: 0 0 30px 0;
  height: fit-content;
  width: 100%;
}

.banner-desc {
  margin: 0 0 10px 0;
  max-height: 15em;
  width: 100%;
}

.banner-img-cont {
  height: fit-content;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

.banner-img {
  border-radius: 45%;
  max-height: 300px;
  /* filter: blur(100px); */
}

.content-section {
  width: 100%;
  padding: 35px 10px;
  text-align: center;
  background-color: skyblue;
  height: fit-content;
}

.content-img-cont {
  height: fit-content;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

.content-img {
  border-radius: 45%;
  max-height: 300px;
  background-color: black;
  color: white;
  /* filter: blur(100px); */
}

.contolled-video {
  border-radius: 10%;
  object-fit: cover;
  /* min-width: 100%;
  min-height: 100%; */
}

.content-text {
  max-width: 400px;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  margin-right: 3%;
  vertical-align: middle;
}

.content-title {
  margin: 0 0 30px 0;
  height: fit-content;
  width: 100%;
}

.content-desc {
  margin: 0 0 10px 0;
  max-height: 20em;
  width: 100%;
}

.main-content-title {
  margin: 30px 0;
  text-align: center;
}


/* Testings */

.test-div {
  background-color: gray;
  width: 400px;
  height: 200px;
}